#Book-Price{
    background: rgb(239, 239, 239);
    margin-top: 10px;
    padding: 20px;

    display: flex;
    justify-content: space-between; /* 좌우 정렬 */
    align-items: flex-start; /* 수직 정렬을 필요에 따라 조절 */
    gap: 20px; /* 요소 간의 간격 */
}