.root {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    margin-top: 15%;
}

.checkMarkContainer {
    margin-right: 5%;
}

.textContainer {
    flex: 1;
    padding-left: 20px; 
}

.link1, .link2 {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: skyblue;
    color: white;
    text-align: center;
    border-radius: 5px; 
}

.link2 {
    background-color: gray;
}


.h2 {
    margin-top: 50px;
}

p {
    font-weight: bold;
    font-size: large;
}