
#delete, #checkAll{
    background: none;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
    font-size: 15px;
}


#delete {
    float: right;
    cursor: pointer;
}

.cart-container {
    display: flex;
    flex-direction: column;
}

.book-price{
    display: flex;
    margin-top: 10px;
    padding: 15px 25px;
}

.product-list {
    flex: 1;
    margin-right: 15px;
}

.price-info {
    flex: 1;
    margin-left: 15px;
}