
.each-book {
    display: flex;
    align-items: center; /* 수평 가운데 정렬 */
    gap: 10px; /* 요소 간의 간격을 일정하게 */
    margin-bottom: 10px;
}

.aboutBook {
    display: flex;
    align-items: center;
    gap: 10px; /* 이미지와 텍스트 간의 간격을 일정하게 */
    background-color: white;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 5px;
    padding: 5px 0 5px 10px;
    /*width: 800px;*/
}

.checkedAboutBook {
    display: flex;
    align-items: center;
    gap: 10px; /* 이미지와 텍스트 간의 간격을 일정하게 */
    background-color: white;
    border-width: 1px;
    border-color: dodgerblue;
    border-radius: 5px;
    padding: 5px 0 5px 10px;
    /*width: 500px;*/
}

#book-title{
    font-weight: bold;
    font-size: 15px;
    color: black;
}

#title-price {
    font-size: 14px;
    line-height: 1.5;
    position: relative;
    margin-right: 20px;
    width: 270px;
}

#quantity-edit {
    margin-right: 0;
}

