.category-container {
    display: flex;
    align-items: center;
  }
  
  .category-header-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .category-header {
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
  }
  
  .home-button {
    background-color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
  }
  
  .category-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
  }
    
  li {
    flex: 1;
    text-align: center;
  }
  
  a {
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
  }
  
  