/* HomeHeader 컴포넌트의 최상위 div에 적용할 스타일 */
.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

/* 타이틀 스타일 */
#title h1 {
    margin: 0; /* 기본 마진 제거 */
}

/* 아이콘들을 감싸는 div에 적용할 스타일 */
#icons {
    display: flex;
    justify-content: space-around; /* 아이콘 간격 동일하게 */
}

/* 아이콘 이미지 스타일 */
#icons img {
    width: 30px; /* 아이콘 크기 조절 */
    height: 30px;
    margin-left: 10px; /* 아이콘 간격 조절 */
}
