
.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

<<<<<<< HEAD
#title h1 {
    margin: 0; 
=======
#title img {
    max-width: 30px;
>>>>>>> 3bd465834f53b723681605371ce84809a3467005
}

#title a {
    text-decoration: none;
    color: black;
}

#icons {
    display: flex;
    justify-content: space-around; 
}


#icons img {
    width: 30px; 
    height: 30px;
    margin-left: 10px; 
}
