
.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#title h1 {
    margin: 0; 
}

#title a {
    text-decoration: none;
    color: black;
}

#icons {
    display: flex;
    justify-content: space-around; 
}


#icons img {
    width: 30px; 
    height: 30px;
    margin-left: 10px; 
}
